/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  min-width: fit-content;
  font-family: "Montserrat";
}
#root {
  color: black;
  background-color: rgb(249 246 255);
  min-width: 100%;
  
}
.sidebar {
  width: 250px;
  height: 88vh;
  background-color: #ffffff;
  
}

ul {
  margin-left: 10px;
}

li {
  list-style: none;
  padding: 10px;
}

.chart-icon {
  margin-right: 10px;
  color: #3422d4;
  height: 25px;
  margin-bottom: -4px;
}

a {
  text-decoration: none;
  color: rgb(151, 151, 151);
  font-weight: 500;
}

.dropdown-menu {
  display: block;
  background-color: #ffffff;
  padding: 10px;
  border-left: 1px solid rgb(151, 151, 151);
  height: 170px;
}
.dropdown-menutwo {
  display: block;
  background-color: #ffffff;
  padding: 10px;
  border-left: 1px solid rgb(151, 151, 151);
  height: 125px;
}
.dropdown-menutwo a:hover {
  color: #3422d4;
  font-weight: 500;
}

.dropdown-menu a:hover {
  color: #3422d4;
  font-weight: 500;
}

.completeheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: #000000;
}

.completelogo {
  display: flex;
  align-items: center;
}

.completelogo .logo {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: #3422d4;
  border-radius: 5px;
}

.completelogo .logofont {
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}

.search-bar {
  margin: 0 20px;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.input-container input {
  border: none;
  outline: none;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  color: black;
  background-color: rgb(249 246 255);
}

.search-icon {
  font-size: 20px;
  color: #3422d4;
  margin-left: 5px;
  height: 30px;
  cursor: pointer;
}

.notificationfull {
  display: flex;
  align-items: center;
  padding: 10px;
}

.notification-bell {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.301);
  color: rgb(255, 136, 0);
  border-radius: 5px;
  width: 37px;
  height: 37px;
  padding: 9px;
}
.notification-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.bell-icon {
  font-size: 24px;
}
.profile {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile h3 {
  margin: 0;
  font-size: 18px;
  color: #000;
}

.profile p {
  margin: 0;
  font-size: 14px;
}
.arengement {
  display: flex;
  align-items: flex-start;
}
.dashboard {
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: 25vh;
  margin: 20px;
  padding-left: 18px;
  padding-top: 17px;
  font-size: 15px;
  position: relative;
}

.dashboard h4 {
  display: flex;
}
.dashboardtwo h3{
  display: flex;
  margin: 7px;
  margin-left: 1px;
  font-size: 20px;
}
.smallfont {
  font-size: 12px;
  color: #3422d4;
  font-weight: 500;
}
.parentdiv {
  width: 100%;
  height: 10px;
  background-color: #9322d465;
  border-radius: 20px;
}
.childdiv {
  width: 50%;
  height: 10px;
  background-color: #9322d4;
  border-radius: 20px;
}
.containers {
  display: flex;
  justify-content: space-between;
  width: 99%;
  padding-top: 15px;
}
.red {
  width: 300px;
  height: 120px;
  background-color: rgba(255, 145, 145, 0.37);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  color: #636363;
  justify-content: space-between;
}
.yellow {
  width: 300px;
  height: 120px;
  background-color: rgba(255, 224, 139, 0.397);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #636363;
  display: flex;
  justify-content: space-between;
}
.green {
  width: 300px;
  height: 120px;
  background-color: rgba(133, 255, 159, 0.37);
  border-radius: 10px;
  padding: 20px;
  color: #636363;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.purple {
  width: 300px;
  height: 120px;
  background-color: rgba(220, 145, 255, 0.37);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #636363;
  display: flex;
  justify-content: space-between;
}
.job {
  height: 31px;
  background-color: rgb(228, 23, 91);
  border-radius: 50%;
  color: white;
  padding: 7px;
}
.chart {
  height: 31px;
  background-color: rgb(228, 105, 23);
  border-radius: 50%;
  color: white;
  padding: 7px;
}
.form {
  height: 31px;
  background-color: rgb(53, 206, 14);
  border-radius: 50%;
  color: white;
  padding: 7px;
}
.status {
  height: 31px;
  background-color: rgb(171, 40, 223);
  border-radius: 50%;
  color: white;
  padding: 7px;
}
.text {
  display: flex;
  color: #000;
  flex-direction: column;
}
.divs {
  position: absolute;
  top: 100%;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0);
  margin: 10px;
  right: 405px;
  left: -10px;
  border-radius: 25;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 1px 13px;
  box-sizing: border-box;
}

/* Styles for the individual divs */
.divs .separate-div {
  flex: 1 0 calc(30%);
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;
  text-align: left;
  margin-bottom: 15px;
  margin-left: 15px;
}


.failed-fivepercent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.failed-fivepercent p{
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
  padding: 0px 23px;
  background-color: #ffc1c1;
  font-weight: 600;
}


.failed-parentline {
  background-color: rgba(255, 0, 0, 0.171);
  width: 70%;
  height: 10px;
  border-radius: 30px;
  .failed-childline{
    background-color: rgb(255, 0, 0);
    width: 30%;
    height: 10px;
    border-radius: 30px;
  }
}

.In-Progress-fivepercent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.In-Progress-fivepercent p{
  border: 1px solid  rgb(255, 187, 0);
  border-radius: 5px;
  padding: 0px 18px;
  background-color: rgba(255, 187, 0, 0.301);
  font-weight: 600;
}

.In-Progress-parentline {
  background-color: rgba(255, 166, 0, 0.171);
  width: 70%;
  height: 10px;
  border-radius: 30px;
  .In-Progress-childline{
    background-color: rgb(255, 187, 0);
    width: 60%;
    height: 10px;
    border-radius: 30px;
  }
}

.Successfully-Completed-fivepercent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Successfully-Completed-fivepercent p{
  border: 1px solid  rgb(17, 199, 0);
  border-radius: 5px;
  padding: 0px 18px;
  background-color:rgba(81, 255, 0, 0.171);
  font-weight: 600;
}

.Successfully-Completed-parentline {
  background-color: rgba(81, 255, 0, 0.171);
  width: 70%;
  height: 10px;
  border-radius: 30px;
  .Successfully-Completed-childline{
    background-color: rgb(17, 199, 0);
    width: 85%;
    height: 10px;
    border-radius: 30px;
  }
}
.fifthdiv p{
font-size: 12px;
margin: auto 15px;

}
.indnewbusiness{
  background-color: #2269d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #fff;
  border-radius: 5px;
 margin: 10px aut0;
}
.misdetail{
  background-color: #f0ab2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #fff;
  border-radius: 5px;

}
.IncPrecistencydump{
  background-color: #22d490;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: #fff;
  border-radius: 5px;
}

/* Dashboardtwo css */
.dashboardtwo {
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: 25vh;
  margin: 20px;
  padding-left: 18px;
  padding-top: 17px;
  font-size: 15px;
  position: relative;
}
.gradient-div {
  width: 300px;
  height: 147px;
  background: linear-gradient(
    164deg,
    rgba(228, 234, 255, 1) 0%,
    rgba(228, 234, 255, 1) 65%,
    rgba(152, 169, 255, 1) 100%
  );
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  color: #636363;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.jobtwo,
.charttwo,
.formtwo {
  height: 30px;
  color: rgb(47, 0, 255);
}
.dashboardtwosixdivs {
  position: absolute;
  top: 100%;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0);
  margin: 20px;
  right: 8px;
  left: -17px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.six-separate-div {
  flex: 0 1 calc(16%);
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 4px 15px;
  border-radius: 25px;
}
.dashboardtwo-chartthree{
  position: absolute;
  top: 100%;
  left: -17px;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  height: 25vh;
  margin: 20px;
  padding-left: 18px;
  padding-top: 17px;
  font-size: 15px;
text-align: center;
}